<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">

    <title>Trust list</title>

    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
        body {
            font-size: 12px;
            /*margin: 0px;*/
        }
        .trustList {
            padding: 5px;
        }
        .trustList th, .trustList td {
            padding: 5px;
        }

        .trusted {
            color: green;
        }
        .distrusted {
            color: red;
        }
        .subjectTitle {
            font-weight: bold;
            font-size: 9pt;
        }
    </style>
    <script src="lib/angularJS/angular.min.js"></script>
    <!-- <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <script src="lib/identiconjs/identicon.js"></script>
    <script src="lib/bitcoinjs/bitcoin.js"></script>
    <script src="js/common.js"></script>
    <script src="js/SettingsController.js"></script>
    <script src="js/PackageBuilder.js"></script>
    <script src="js/TrustchainService.js"></script>
    <script src="js/PackageParser.js"></script>
    <script src="js/TargetService.js"></script>
    <script src="js/trustlist.js"></script>
</head>

<body ng-app="myApp" ng-controller="trustlistCtrl">
    <div class="container">
        <h1>Analyse</h1>
        <div class="row">
            <div class="col-xs-12">
                <h3>Subject</h3>
                <table class="trustList" >
                    <tr>
                        <td>
                            <img ng-src="data:image/svg+xml;base64,{{ subject.identicoinData }}">
                        </td>
                        <td>
                            <div ng-class="subject.addressClass">Address: {{ subject.addressHex }} - 
                                <a href="#" ng-click="trustClick(subject);" ng-title="Trust {{ subject.alias }}">[T]</a>
                                <a href="#" ng-click="distrustClick(subject);" ng-title="Distrust {{ subject.alias }}">[D]</a>
                                <a href="#" ng-click="untrustClick(subject);" ng-title="Untrust {{ subject.alias }}">[U]</a>
                            </div>
                            <div ng-class="subject.aliasClass">Alias:{{ subject.alias }}</div>
                            <div ng-hide="!subject.owner.addressHex" class="small">Owner entity: <img ng-src="data:image/svg+xml;base64,{{ subject.owner.identiconData16 }}"> {{ subject.owner.addressHex }}</div>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" ng-show="trusted.length > 0">
            <div class="col-xs-12">
                <h3>Trusted by:</h3>
                <table class="trustList" >
                    <tr ng-repeat="trust in trusted">
                        <td>
                            <a href="#"><img ng-src="data:image/svg+xml;base64,{{ trust.identiconData }}"></a>
                        </td>
                        <td>
                            <div>Address: {{ trust.issuerAddressHex }} - 
                                <a href="#" ng-click="trustClick(trust);" ng-title="Trust {{ trust.alias }}">[T]</a>
                                <a href="#" ng-click="distrustClick(trust);" ng-title="Trust {{ trust.alias }}">[D]</a>
                                <a href="#" ng-click="untrustClick(trust);" ng-title="Trust {{ trust.alias }}">[U]</a>
                            </div>
                            <div ng-hide="!trust.alias">Alias: {{ trust.alias }}</div>
                        </td>
                        <td>
                            <span class="trusted">{{ trust.parseAttributes.trust }}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" ng-show="distrusted.length > 0">
                <div class="col-xs-12">
                    <h3>Distrusted by:</h3>
                    <table class="trustList" >
                        <tr ng-repeat="trust in distrusted">
                            <td>
                                <a href="#"><img ng-src="data:image/svg+xml;base64,{{ trust.identiconData }}"></a>
                            </td>
                            <td>
                                <div>Address: {{ trust.issuerAddressHex }} - 
                                    <a href="#" ng-click="trustClick(trust);" ng-title="Trust {{ trust.alias }}">[T]</a>
                                    <a href="#" ng-click="distrustClick(trust);" ng-title="Trust {{ trust.alias }}">[D]</a>
                                    <a href="#" ng-click="untrustClick(trust);" ng-title="Trust {{ trust.alias }}">[U]</a>
                                </div>
                                <div ng-hide="!trust.alias">Alias: {{ trust.alias }}</div>
                            </td>
                            <td>
                                <span class="trusted">{{ trust.parseAttributes.trust }}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row" ng-hide="true">
            <div class="col-xs-12">
                <h3>Distrusted by:</h3>
                {{ "Nothing here!" }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-link" ng-click="showHideJson()">JSON data</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" ng-show="jsonVisible">
                <pre id="json"></pre>
            </div>
        </div>
    </div>
</body>

</html>