<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Analyse trust">

    <title>Analyse Trust</title>

    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
        body {
            font-size: 12px;
            /*margin: 0px;*/
        }
        .trustList {
            padding: 5px;
        }
        .trustList th, .trustList td {
            padding: 5px;
        }

        .trusted {
            color: green;
        }
        .distrusted {
            color: red;
        }
        .subjectTitle {
            font-weight: bold;
            font-size: 9pt;
        }
    </style>
    <script src="lib/jquery/jquery-2.0.3.min.js"></script>
    <script src="lib/angularJS/angular.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/identiconjs/identicon.js"></script>
    <script src="lib/bitcoinjs/bitcoin.js"></script>
    <script src="lib/notify/notify.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/SettingsController.js"></script>
    <script src="js/PackageBuilder.js"></script>
    <script src="js/TrustchainService.js"></script>
    <script src="js/TrustHandler.js"></script>
    <script src="js/SubjectService.js"></script>
    <script src="js/trustlist.js"></script>
</head>

<body ng-app="myApp" ng-controller="trustlistCtrl">
    <div class="container" ng-show="showContainer">
        <div class="row">
            <div class="col-xs-12">
               <button type="button" ng-click="historyBack()" class="btn btn-default btn-xs" ng-style="{'visibility': (history.length > 0)?'visible':'hidden'}" >
                   <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Back</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>Subject</h3>
                <table class="trustList" >
                    <tr>
                        <td>
                            <img ng-src="data:image/svg+xml;base64,{{ subject.identicoinData }}">
                        </td>
                        <td>
                            <div ng-class="subject.addressClass">Address: {{ subject.addressHex }} - 
                                <a href="#" ng-click="trustClick(subject);" ng-title="Trust {{ subject.alias }}">[T]</a>
                                <a href="#" ng-click="distrustClick(subject);" ng-title="Distrust {{ subject.alias }}">[D]</a>
                                <a href="#" ng-click="untrustClick(subject);" ng-title="Untrust {{ subject.alias }}">[U]</a>
                            </div>
                            <div ng-class="subject.aliasClass">Alias:{{ subject.alias }}</div>
                            <div ng-hide="!subject.owner.addressHex" class="small">Owner entity: <img ng-src="data:image/svg+xml;base64,{{ subject.owner.identiconData16 }}" ng-click="analyseClick(subject.owner)"> {{ subject.owner.addressHex }}</div>
                            <!-- <div>Base64: {{ subject.address }}</div> -->
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" ng-show="trusted.length > 0">
            <div class="col-xs-12">
                <h4>Trusted by:</h4>
                <table class="trustList" >
                    <tr ng-repeat="trust in trusted">
                        <td>
                            <a href="#" ng-click="analyseClick(trust)"><img ng-src="data:image/svg+xml;base64,{{ trust.identiconData }}"></a>
                        </td>
                        <td>
                            <div>Address: {{ trust.issuerAddressHex }} - 
                                <a href="#" ng-click="trustClick(trust);" ng-title="Trust {{ trust.alias }}" ng-show="trust.showTrustButton">[T]</a>
                                <a href="#" ng-click="distrustClick(trust);" ng-title="Trust {{ trust.alias }}">[D]</a>
                                <a href="#" ng-click="untrustClick(trust);" ng-title="Trust {{ trust.alias }}">[U]</a>
                            </div>
                            <div ng-hide="!trust.alias">Alias: {{ trust.alias }}</div>
                            <div><a ng-href="{{ verifyTrustLink(trust) }}" target="_blank" ng-title="Trust data">Verify Trust 3</a></div>
                            <!-- <div>Base64: {{ trust.address }}</div> -->
                        </td>
                        <td>
                            <span class="trusted">{{ trust.parseAttributes.trust }}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" ng-show="distrusted.length > 0">
            <div class="col-xs-12">
                <h4>Distrusted by:</h4>
                <table class="trustList" >
                    <tr ng-repeat="trust in distrusted">
                        <td>
                            <a href="#" ng-click="analyseClick(trust)"><img ng-src="data:image/svg+xml;base64,{{ trust.identiconData }}"></a>
                        </td>
                        <td>
                            <div>Address: {{ trust.issuerAddressHex }} - 
                                <a href="#" ng-click="trustClick(trust);" ng-title="Trust {{ trust.alias }}">[T]</a>
                                <a href="#" ng-click="distrustClick(trust);" ng-title="Trust {{ trust.alias }}">[D]</a>
                                <a href="#" ng-click="untrustClick(trust);" ng-title="Trust {{ trust.alias }}">[U]</a>
                            </div>
                            <div ng-hide="!trust.alias">Alias: {{ trust.alias }}</div>
                            <div><a ng-href="{{ verifyTrustLink(trust) }}" target="_blank" ng-title="Trust data">Verify Trust 3</a></div>
                            <!-- <div>Base64: {{ trust.address }}</div> -->
                        </td>
                        <td>
                            <span class="trusted">{{ trust.parseAttributes.trust }}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-link btn-xs" ng-click="showHideJson()">JSON data</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" ng-show="jsonVisible">
                <div>Trust Data</div>
                <pre>{{ trustData }}</pre>
                <div>Trust Query Result</div>
                <pre>{{ json }}</pre>
            </div>
        </div>
    </div>
    <!-- <div class="modal fade" id="trustData" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <pre>{{ trustData }}</pre>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div> -->
</body>

</html>